body{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    background-color: black;
}
.calculator{
    width: 320px;
    height: 550px;
    background-color: white;
    margin: 0 auto;
    position: relative;
    border-radius: 20px;
   
    /* box-shadow: 4px 4px 3px 1px  rgba(206, 195, 195, 0.3),  */
    /* -14px 9px 2px -5px rgba(206, 195, 195, 0.3); */
}
.result{
    height: 120px;
    
    
}
#result{
    margin-top: 15px;
    text-align: right;
    padding-top: 50px;
    font-size: 47px;
    
}

.keyboard{
    height: 400px;
}
button:hover{
    color: white;
    background-color: black;
}
.operator,
.number,
.empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}
.number, .empty{
    background-color: #eaedef;
}
.number, .operator{
    cursor: pointer;
}
.operator:active, .number:active{
    font-size: 13px;
}
.operator:focus, .number:focus{
    outline: 0;
}
button:nth-child(4){
    font-size: 20px;
    background-color: #03a79e;
}
button:nth-child(8){
    font-size: 20px;
    background-color: #e79f18;
}

button:nth-child(12){
    font-size: 20px;
    background-color: #f56464;
}

button:nth-child(16){
    font-size: 20px;
    background-color: #5e7ef5;
}

button:nth-child(20){
    font-size: 20px;
    background-color: #8428da;
}

